.card-container {
    border: 2px solid #f0f;
    width: 14rem;
    box-shadow: 0.5rem 0.5rem 0.5rem 0 rgb(153, 105, 241);
    border-radius: 1rem;
    height: 100%;
    position: relative;

    .card-body {
        margin-top: 1rem;  
    }

    .card-content {
        padding: 0.5rem;
    }

    &.first {

        .card-body {
            border-bottom: 2px solid #f2c8e0;
        }
    }

    &.last {

        .card-body {
            border-bottom: 2px solid #bcecde;
        }
    }

    &.odd {
        background-color: #578786;
        color: #ffffff;
    }

    &.even {
        background-color: #ebd1e0;
        color: #ac8c8c;
    }

    .icon-close {
        position: absolute;
        right: 1rem;
        top: 0.5rem;
        cursor: pointer;
        font-size: 0.8rem;
        //color:#ac8c8c;
        border-color: #e9a3a3;
        
    }

    .pills-container {
        margin-bottom: 1rem;
        span {
            padding: 0.25rem 0.5rem;
            border-radius: 1rem;

            &.white {
                color: #f0f;
            }

            &.status {
                background-color: #d2c8c8;
                
                &.to-do {
                    background-color: #885c77;
                }

                &.in-progress {
                    background-color: #8a8a19;
                }
                
                &.done {
                    background-color: #68db68; 
                }

                &.backlog {
                    background-color: #928d94;
                }
            }

            &.difficult {
                background-color: #f7f4f4;
                &.low {
                    background-color: #52dda8;
                }

                &.medium {
                    background-color: #9191ca;
                }

                &.high {
                    background-color: #e46e6e;
                }
            }
        }
    }

    .progressbar-container {
        position: absolute;
        bottom: 0.5rem;
        left: 0;
        margin: 0 0.5rem;
        span {
            position: absolute;
            right: 0rem;
            bottom: 1.5rem;
            border-radius: 0.25rem;
            font-size: 0.75rem;
            background-color: #000000;
            padding: 0.125rem 0.5rem;
            font-weight: bolder;
            color: #f8e8e8;
            
            &::after {
                content: "";
                position: absolute;
                left: 35%;
                border-width: 0.375rem;
                border-style: solid;
                border-color: transparent transparent #000000 transparent;
                rotate: 180deg;
                top: 1.125rem;
            }
        }
        .progressbar {
            width: 13rem;
            height: 0.5rem;
            background-color: #d3acf3;
            border-radius: 0.25rem;
            overflow: hidden;

            &__fill {
              height: 100%;
              background-color: #ff6347;
              transition: width 0.3s ease-in-out;
            }

            &[data-progress-range="medium"] {
                .progressbar__fill {
                    background-color: #ddd293;
                }
            }
            
            &[data-progress-range="high"] {
                .progressbar__fill {
                    background-color: #9fdd9f;
                }
            }
          }          
    }

    .icon-editar{
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
    }
    
    .sectionEditar{
        color: rgb(138, 121, 165);
        margin-top: 1rem;
        border-radius: 1%;
        position: relative;
        right: 0rem;
        padding: 0.125rem 0.5rem;
    }

}

// ::ng-deep {
//     .card-container {
//         border: 2px solid #F0F0F0;
//         width: 14rem;
//         box-shadow: 0.5rem 0.5rem 0.5rem 0 rgba(242,242,242,1);
//         border-radius: 1rem;
//         height: 100%;
//         position: relative;
//     }
// }